<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        @for (item of showData; track $index) {
        <li class="list-group-item">
          Name : {{ item.name }} {{ item.lastName }} <br />
          Mobile: {{ item.mobile }} <br />
          Address {{ item.address }}
          

          <span class="float-end"
            ><button type="button" class="btn border" (click)="onEdit(item.id)">
              <i class="fa-solid fa-pen"></i>
            </button>
            &nbsp;
            <button type="button" class="btn border" (click)="deleteData(item.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </span>
        </li>

        }
      </ul>
    </div>
  </div>
</div>
